Repository gawaooooo-sandbox/learn-github-actions-reusable-workflows, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, internal

.github/labeler.yml:

# Labeler configuration
# @see https://github.com/tmknom/configurations/tree/main/labeler

# A new feature
enhancement:
  - head-branch: ["^feat"]

# A bug fix
bug:
  - head-branch: ["^fix"]

# Documentation only changes
docs:
  - head-branch: ["^docs"]
  - changed-files:
      - any-glob-to-any-file: ["**.md"]

# Adding missing tests or correcting existing tests
test:
  - head-branch: ["^test"]
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*test*.yml"]

# Changes to workflow files GitHub Actions.
workflows:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*.yml"]

# Changes to internal workflow files GitHub Actions.
internal:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*internal*.yml"]

chore: update run-name
  .github/workflows/_internal-release.yml
Labels: workflows, internal

chore: update composite-actions version
  .github/workflows/reusable-deploy.yml
  .github/workflows/reusable-lint.yml
Labels: workflows

feat: add release setting
  .github/release.yml
Labels: none

feat: add reusable-label wf
  .github/workflows/_internal-docs.yml
  .github/workflows/_internal-label.yml
  .github/workflows/reusable-label.yml
  docs/reusable-label.md
Labels: workflows, internal

fix: fix error
  .github/workflows/_internal-label.yml
  .github/workflows/reusable-label.yml
Labels: workflows, internal

chore(node): use volta (Node.js version manager)
  package.json
Labels: none

chore(git): add cz-conventional-changelog
  package-lock.json
  package.json
Labels: none
